extends ./testimoniales
block contenido
    .container
        .row 
            .col-md-12.col-12.text-center
                    h1.sidebarH1 VIAJES DISPONIBLES
        .row.proximos-viajes.mt-5
                    
                        .grid
                                each fullday in fulldays
                                    .grid-item
                                        img.card-img(src=`/img/destinos_${fullday.imagen}.jpg`, alt='Rome')
                                        .card-content
                                            h1.card-header #{fullday.titulo}
                                            p.detalleP Fecha de Salida - #{fullday.fecha}
                                            p.detalleP Precio -  #{fullday.precio}
                                            p.detalleP Disponibles - #{fullday.disponibles}
                                            p.detalleP Descripcion - #{fullday.descripcion}
                                            a(href=`/admin/adminlistaviajes/resevar/${fullday.idfullday}`, class="myButton") Reservar &rarr;    
                                            a(href=`/admin/adminlista/reservas/${fullday.idfullday}`, class="myButton") Listado &rarr;    
                                            