doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombreSitio} | #{pagina}
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        
block container
    nav.navbar.navbar-light.bg-dark  
        a.navbar-brand.mb-0(href='/productos' ) Agregar Pasajero
    .row.mx-5.my-5
        h1#back Listado de pagos registrados
        .col-md-12
            table.table.table-bordered
                thead
                    tr
                        th(scope='col') Destino
                        th(scope='col') Terminal
                        th(scope='col') Vendedor
                        th(scope='col') Valor por pasajero
                        th(scope='col') Estado de pago
                        th(scope='col') Pasajero 1
                        th(scope='col') Pasajero 2
                        th(scope='col') pasajero 3
                        th(scope='col') pasajero 4
                        th(scope='col') pasajero 5
                        th(scope='col') Acciones
                tbody
                each pago in pagos
                    tr
                        th(scope='row')=pago.titulo
                        td=pago.terminal
                        td=pago.coordinador
                        td=pago.precio
                        td=pago.estado_pago
                        td=pago.pasajero1
                        td=pago.pasajero2
                        td=pago.pasajero3
                        td=pago.pasajero4
                        td=pago.pasajaero5
