extends ./testimoniales
block contenido
    .container
        .row 
            .col-md-12.col-12.text-center
                    h1.sidebarH1 LISTADO DE VIAJES
                    a(href="/admin/adminviajes" class="btn btn-success crearViaje") Crear viaje
        .row.proximos-viajes.mt-5
                    
                        .grid
                                each fullday in fulldays
                                    .grid-item
                                        img.card-img(src=`${fullday.imagen}`, alt='Rome')
                                        .card-content
                                            h1.card-header #{fullday.titulo}
                                            p.detalleP Fecha de Salida - #{fullday.fecha}
                                            p.detalleP Precio -  #{fullday.precio}
                                            p.detalleP Disponibles - #{fullday.disponibles}
                                            p.detalleP Descripcion - #{fullday.descripcion}
                                            a(href=`/admin/adminlistaviajes/${fullday.idfullday}`, class="myButton") Actualizar   
                                            a(href=`/admin/adminlistaviajes/delete/${fullday.idfullday}`, class="myButton") Eliminar   
                                            